body {
  overflow: hidden;
  padding-top: 80px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 0.5rem 1rem;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}