.contact-form {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.contact-form input,
textarea,
select {
    display: block;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
}

.contact-form textarea {
    height: 20vh;
    min-height: 20vh;
}
